<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<head>
    <meta charset="UTF-8">
    <title>AudioMood</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='AudioMoodLogo.jpg') }}" width="200" height="70">
        <form class="form" id="urlForm" method="post" action="/analysis">

            <div id="label">
                <label id="size" for="model">Size:</label>
                <label id="url" for="text">YouTube URL:</label>
            </div>
            
            <div id="form">
                
                <select class="select-box" name="model_size">
                    <option value="base">Base</option>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                </select>
                            
                <input type="text" id="user_input" name="user_input">
                <button type="submit" id="submitButton" action="/analysis">Submit</button>
            </div>
        </form>
    </div>

    <script>
        document.getElementById('urlForm').addEventListener('submit', function() {
            document.getElementById('submitButton').disabled = true;
        });
    </script>
</body>
</html>